<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
                </li>
                <li>
                    <a href="{% url 'create_account' %}">New Account</a>
                </li>
                <li>
                    <a href="{% url 'home' %}">Receipts</a>
                </li>
                <li>
                    <a href="{% url 'list_categories' %}">Expense Categories</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Accounts</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Receipt Count</th>
            </tr>
            {% for account in accounts %}
            <tr>
                <td> {{ account.name }} </td>
                <td> {{ account.number }} </td>
                <td> {{ account.receipts.all|length }} </td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>
